/* global styles */
@import 'reset.css';
@import "typography.css";

/*.layout and view styling */
@import '../server/layouts/base.css';
@import '../server/views/index.css';

/* component styling */
@import '../server/components/card/card.css';

.gasoek-one-regular {
  font-family: "Gasoek One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.geist-mono-regular {
  font-family: "Geist Mono", monospace;
}

:root {
  view-transition-name: root;
}

@view-transition {
  navigation: auto;
}

html::view-transition {
  animation-duration: .3s;
}

::view-transition-old(mealphoto*) {
  opacity:1;
}

::view-transition-new(mealphoto*) {
  opacity:0;
  animation: fade-in 0.2s ease-in-out;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


body {
  max-width: 1440px;
  margin: 0 auto;

}

main {
  padding: 1rem;

}

.container{
  background-color: white;
  border-radius: 1em;
  min-height:40%;
  padding:2em;
  border:2px solid #1B1C7B;
  box-shadow: #1B1C7B 4px 3px 0px 0px;
  margin-top: 1.8em;

  p{
  margin-bottom:4em;
  font-family: "Geist Mono", monospace;
  color:#1B1C7B;
  }

  h2{
  font-family: "Gasoek One", sans-serif;
  font-size:2em;
  color: #1B1C7B;
  margin-bottom:.5em;
  }

}



.buttons form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:1em;
  /* margin-top: 3em; */
  justify-content: center;
  text-align: center;



  button{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border:2px solid #1B1C7B;
    color:#1B1C7B;
    box-shadow: #1B1C7B 4px 3px 0px 0px;
    padding-top:.8em;
    padding-bottom:.8em;
    width:13em;
    border-radius: 1em;
    font-size:1.5em;
    font-family: "Gasoek One", sans-serif;

    &:hover {
      color: #1B1C7B;
      background-color: #c6c6ed;
      cursor: pointer;
    }
  }
}



.buttons input[type=radio] {
  appearance: none;
  text-decoration: none;
  color: white;
  background-color: #9C9DD7;
  border:2px solid #1B1C7B;
  box-shadow: #1B1C7B 4px 3px 0px 0px;
  padding: 1em;
  border-radius: 1em;
  font-size: 1em;
  width:10em;
  text-align: center;

  &:hover{
    background-color: #c6c6ed;
    cursor: pointer;
    transform: translateY(2px);
  }

  &:checked {
    background-color: #F6FFD3;
    color: #1B1C7B;
    cursor: pointer;
  }
  
  &::after{
    content:attr(value);
    text-transform: uppercase;
    font-family: "Geist Mono", monospace;
  }
}

h1{
  font-family: "Gasoek One", sans-serif;
  font-size: 2em;
  color: #1B1C7B;
}


.meal{

  position: relative;

  h2{
    font-family: "geist mono", monospace;
    font-size:1em;
    color: #1B1C7B;
    margin-bottom:1em;
    margin-top:1.8em;
  }

  p{
    font-size:1.3em;
  }
  
  img{
    width:78vw;
    height:15em;
    border-radius: 1em;
    margin-bottom: .5em;
    box-shadow: #e2e2fb 2px 3px 10px 0px;
    border:solid 2px #1B1C7B;
  }

  a{
    text-decoration: none;
    color: #1B1C7B;
    font-family: "geist mono", monospace;
    font-size: 1em;
    padding: .4em 1.8em;
    top: 80%; 
    left: 45%;
    position: absolute;
    border-radius: .8em;
    background-color: #F6FFD3;
    box-shadow: #1B1C7B 4px 3px 0px 0px;

    &:hover{
      background-color: #c6c6ed;
      cursor: pointer;
      transform: translateY(2px);
    }
  }
}

.container2{
  background-color: white;
  border-radius: 1em;
  min-height:100%;
  padding:2em;
  border:2px solid #1B1C7B;
  box-shadow: #1B1C7B 4px 3px 0px 0px;
  margin-top: 1.8em;
}

.intro{
font-family: "geist mono", monospace;
max-width:85%;
margin-top:2em;
color: #1B1C7B;

}

.container3{
  background-color: white;
  border-radius: 1em;
  min-height:100%;
  padding:1em;
  border:2px solid #1B1C7B;
  box-shadow: #1B1C7B 4px 3px 0px 0px;
  margin-top: 1.8em;

  img{
    width:78vw;
    height:20em;
    border-radius: 1em;
    margin-bottom: .5em;
    box-shadow: #e2e2fb 2px 3px 10px 0px;
    border:solid 2px #1B1C7B;
  }

  
}

h3{
  font-family:"gasoek one", sans-serif;
  font-size:1.5em;
  color: #1B1C7B;
  margin-top:1em;
  margin-bottom:1em;
}

ul li{
  font-family: "geist mono", monospace;
  margin-top:1em;
  color:#1B1C7B;
}
  



