{% layout "server/layouts/base.liquid" %}

{% block content %}



<section class="container">
<h2>MY MAIN</h2>
<p>Choose what kind of base you want!</p>

<div class="buttons">

<form action="/meal-generator" method="POST">
<input type="radio" name="main" value="chicken">
<input type="radio" name="main" value="beef">
<input type="radio" name="main" value="seafood">
<input type="radio" name="main" value="vegetarian">
<button type="submit"> GENERATE YOUR MEAL</button>
</form>

</div>

</section>




{% endblock %}
